
/*************************************************************************************************************************************************************************************************************************************************************

"userChrome.css" is a custom CSS file that can be used to specify CSS style rules for Floorp's interface (NOT internal site) using "chrome" privileges.
For instance, if you want to hide the tab bar, you can use the following CSS rule:

**************************************
#TabsToolbar {                       *
    display: none !important;        *
}                                    *
**************************************

NOTE: You can use the userChrome.css file without change preferences (about:config)

Quote: https://userChrome.org | https://github.com/topics/userchrome 

************************************************************************************************************************************************************************************************************************************************************/

@charset "UTF-8";
@-moz-document url(chrome://browser/content/browser.xhtml) {
/* Please write your custom CSS under this line*/


}

.browser-toolbar:not(.titlebar-color) {
  background-color: transparent !important;
  color: var(--toolbar-color);
  -moz-appearance: -moz-win-glass !important;
  appearance: auto !important; 
}

#titlebar:-moz-window-inactive {
  background-color: transparent !important;
  color: InactiveCaptionText;
}

#navigator-toolbox {
  appearance: none;
  background-color: transparent;
  border-top: none;
  border: none !important; 
}

#nav-bar:not([tabs-hidden="true"]) {
  box-shadow: none !important;
  /* This is needed for some toolbar button animations. Gross :( */
  position: relative;
} 

:root {
  background-color: rgba(255,255,255,.5) !important;;
  color: -moz-DialogText;
  font: message-box;
}



  #appcontent[flex] {
    background: none !important;
    background-color: transparent !important;
  }

#preferences-root {
  background-color: transparent !important;
}

html#preferences-root {
  background-color: transparent !important;
}

#TabsToolbar,
#toolbar-menubar,
#main-menubar,
#titlebar:-moz-lwtheme, 
#TabsToolbar:-moz-lwtheme,
#toolbar-menubar:-moz-lwtheme,
#main-menubar:-moz-lwtheme {
  appearance: none;
  background-color: transparent !important;
  color: inherit;
}

#TabsToolbar:-moz-lwtheme {
  background-image: none !important;
  background-color: transparent !important;;
}

#browser {
  background: transparent !important;
}

.browser-sidebar2 {
  background: transparent !important;
  border: none !important;
  border-bottom: solid 5px var(--toolbar-bgcolor);
}

#sidebar-select-box {
  background-color: transparent !important;;
  background-image: none !important;;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-size: cover;
  border: none !important;
}

.sidebar-splitter {
  appearance: none;
  width: 6px;
  background-color: transparent !important;;
  border: none !important;
  border-style: none solid;
}


#tabbrowser-tabbox[flex], #tabbrowser-tabpanels, browser[type="content-primary"], browser[type="content"] > html{
  background: none !important;
  background-color: transparent !important;
}

#sidebar-box {
  --sidebar-background-color: Field;
  --sidebar-text-color: FieldText;
  background-color: transparent !important;
  color: var(--sidebar-text-color);
  text-shadow: none;
}

/* address bar and drop down  */
#urlbar-background,
#searchbar {
  background-color: rgba(128,128,128,0.2) !important;
  backdrop-filter: blur(20px);
  background-clip: border-box;
  border: none !important;
  border-radius: var(--toolbarbutton-border-radius);
}

hbox#urlbar box {
   opacity: 0;
   transition: opacity 0.3s ease-in-out;
}

hbox#urlbar:hover box {
   opacity: 1;
   transition: opacity 0.3s ease-in-out;
}

hbox#urlbar hbox#page-action-buttons {
   opacity: 0;
   transition: opacity 0.3s ease-in-out;   
}

hbox#urlbar:hover hbox#page-action-buttons {
   opacity: 1;
   transition: opacity 0.3s ease-in-out;   
}


#urlbar[breakout][breakout-extend] {
   background-color: white !important;   
}


vbox#appcontent {
   border-radius: 8px !important;
   overflow: hidden !important;
}

html#main-window body hbox#browser vbox#appcontent {
   border-radius: 8px;
   overflow: hidden;
}

/* floorp corner radius option */
.browserStack > * {
    border: 0px solid var(--chrome-content-separator-color) !important;
    border-radius: 8px !important;
}
vbox.browserContainer {
   border-color: transparent !important;
   border-bottom-width: 8px !important;;
}

/* ######## arc style ######### */

/* windows only - aero buttons  */
#nav-bar-customization-target {
    justify-content: flex-end;
}

/* floating search bar */
#urlbar-container {
   position: absolute !important;
   width: 100vw !important;
   top: -32px !important;
   left: 0 !important;    
}

#navigator-toolbox-background {
   width: 100vw;
   top: 0;
   left: 0;
   position: fixed;
   z-index: 999;
}

/* floating search bar */
#urlbar-container {
   position: absolute !important;
   width: 100vw !important;
   top: -32px !important;
   left: 0 !important;    
}

#urlbar[breakout][breakout-extend] {

   background-color: rgba(255,255,255,.5) !important;   
   max-width: 50%;
   position: absolute;
   margin-top: 25%;
   margin-left: 25%;
   backdrop-filter: blur(20px);
   border-radius: 16px;
}

vbox.browserContainer {
   margin-top: 8px;
}

#TabsToolbar {
   margin-top: 30px;
}

#sidebar-select-box {
   margin-top: 32px;
}

/* tabs */
/* Target element by tag name and attribute */
tab[pinned="true"] {
   position: sticky;
   z-index: 100;
   border-radius: 8px !important;
   background-color: rgba(255,255,255,1) !important;
   backdrop-filter: blur(20px);
}


/* Apply margin based on counter value */
arrowscrollbox > tab[pinned="true"]:nth-child(1) {
   top: 0px;
}

arrowscrollbox > tab[pinned="true"]:nth-child(2) {
   top: 40px;
}

arrowscrollbox > tab[pinned="true"]:nth-child(3) {
   top: 80px;
}

arrowscrollbox > tab[pinned="true"]:nth-child(4) {
   top: 120px;
}

arrowscrollbox > tab[pinned="true"]:nth-child(5) {
   top: 160px;
}

arrowscrollbox > tab[pinned="true"]:nth-child(6) {
   top: 200px;
}

arrowscrollbox > tab[pinned="true"]:nth-child(7) {
   top: 240px;
}

arrowscrollbox > tab[pinned="true"]:nth-child(8) {
   top: 280px;
}

arrowscrollbox > tab[pinned="true"]:nth-child(10) {
   top: 320px;
}



/* windows only - aero buttons based on resolutions */
/* wavefox code */
/* wavefox code */
@media (-moz-windows-accent-color-in-titlebar: 0)
        {
            #main-window[tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode])
            {
                appearance: -moz-win-borderless-glass !important;
                background-color: transparent !important;
            }

            :root[tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) #navigator-toolbox
            {
                background-color: transparent !important;
            }

            :root[sizemode="normal"][tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) #navigator-toolbox
            {
                margin-block-start: 1px !important;
            }

            /* System window control buttons */

            @media (min-resolution: 1dppx)
            {
                .titlebar-buttonbox-container
                {
                    --titlebar-button-inline-padding: 16px;
                    --titlebar-close-inline-padding: 17px;
                }
            }

            @media (min-resolution: 1.25dppx)
            {
                .titlebar-buttonbox-container
                {
                    --titlebar-button-inline-padding: 17px;
                    --titlebar-close-inline-padding: 18px;
                }
            }

            @media (min-resolution: 1.5dppx)
            {
                .titlebar-buttonbox-container
                {
                    --titlebar-button-inline-padding: 17px;
                    --titlebar-close-inline-padding: 17px;
                }
            }

            @media (min-resolution: 1.75dppx)
            {
                .titlebar-buttonbox-container
                {
                    --titlebar-button-inline-padding: 17px;
                    --titlebar-close-inline-padding: 17px;
                }
            }

            @media (min-resolution: 2dppx)
            {
                .titlebar-buttonbox-container
                {
                    --titlebar-button-inline-padding: 16px;
                    --titlebar-close-inline-padding: 17px;
                }
            }

            :root[tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]):not([sizemode="fullscreen"]) .titlebar-button:not(.titlebar-close:hover, .titlebar-close:hover:active) .toolbarbutton-icon
            {
                opacity: 0 !important;
            }

            :root[tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]):not([sizemode="fullscreen"]) .titlebar-button:not(.titlebar-close)
            {
                margin-inline-end: 1px !important;
            }

            :root[sizemode="normal"][tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) .titlebar-button
            {
                padding-inline: var(--titlebar-button-inline-padding) !important;
            }

            :root[sizemode="normal"][tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) .titlebar-close
            {
                padding-inline: var(--titlebar-close-inline-padding) !important;
            }

            :root[sizemode="maximized"][tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) .titlebar-button
            {
                padding-inline: var(--titlebar-button-inline-padding) !important;
            }

            :root[sizemode="maximized"][tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) .titlebar-close
            {
                margin-inline-end: 2px !important;
                padding-inline: var(--titlebar-close-inline-padding) !important;
            }
        }

    :root:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode])
    {
        --toolbar-bgcolor: color-mix(in srgb, -moz-Dialog 25%, transparent) !important;
        --toolbar-field-background-color: color-mix(in srgb, Field 25%, transparent) !important;
    }
