
/*************************************************************************************************************************************************************************************************************************************************************

"userChrome.css" is a custom CSS file that can be used to specify CSS style rules for Floorp's interface (NOT internal site) using "chrome" privileges.
For instance, if you want to hide the tab bar, you can use the following CSS rule:

**************************************
#TabsToolbar {                       *
    display: none !important;        *
}                                    *
**************************************

NOTE: You can use the userChrome.css file without change preferences (about:config)

Quote: https://userChrome.org | https://github.com/topics/userchrome 

************************************************************************************************************************************************************************************************************************************************************/

@charset "UTF-8";
@-moz-document url(chrome://browser/content/browser.xhtml) {
/* Please write your custom CSS under this line*/


}


.browser-toolbar:not(.titlebar-color) {
  background-color: transparent !important;
  color: var(--toolbar-color);
  -moz-appearance: -moz-mac-vibrancy-dark !important;
  
}

#titlebar {
   -moz-default-appearance: menupopup !important;
   appearance: auto !important;
   background-color: transparent !important;
}

#navigator-toolbox {
  appearance: none;
  background-color: transparent;
  border-top: none;
   -moz-default-appearance: menupopup !important;
   appearance: auto !important;
   background-color: transparent !important;
}

:root {
  background-color: transparent !important;;
  color: -moz-DialogText;
  font: message-box;
   -moz-default-appearance: menupopup !important;
   appearance: auto !important;
   background-color: transparent !important;
}

#TabsToolbar,
#toolbar-menubar,
#main-menubar,
#titlebar:-moz-lwtheme {
  appearance: none;
  background-color: transparent;
  color: inherit;
   -moz-default-appearance: menupopup !important;
   appearance: auto !important;
   background-color: transparent !important;
}

#browser {
  background: transparent !important;
   -moz-default-appearance: menupopup !important;
   appearance: auto !important;
   background-color: transparent !important;
}

.browser-sidebar2 {
  background: transparent !important;
  border: var(--toolbar-bgcolor) 0.1px solid;
  border-bottom: solid 5px var(--toolbar-bgcolor);
   -moz-default-appearance: menupopup !important;
   appearance: auto !important;
   background-color: transparent !important;
}

#sidebar-select-box {
  background-color: transparent !important;;
  background-image: none !important;;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-size: cover;
   -moz-default-appearance: menupopup !important;
   appearance: auto !important;
   background-color: transparent !important;
}

.sidebar-splitter {
  appearance: none;
  width: 6px;
  background-color: transparent !important;;
  border: 1px ThreeDShadow;
  border-style: none solid;
   -moz-default-appearance: menupopup !important;
   appearance: auto !important;
   background-color: transparent !important;
}

#tabbrowser-tabbox[flex], #tabbrowser-tabpanels, browser[type="content-primary"], browser[type="content"] > html{
  background: none !important;
  background-color: transparent !important;
   -moz-default-appearance: menupopup !important;
   appearance: auto !important;
   background-color: transparent !important;
}

#sidebar-box {
  --sidebar-background-color: Field;
  --sidebar-text-color: FieldText;
  background-color: transparent !important;
  color: var(--sidebar-text-color);
  text-shadow: none;
   -moz-default-appearance: menupopup !important;
   appearance: auto !important;
   background-color: transparent !important;
}

/* address bar and drop down  */
#urlbar-background,
#searchbar {
  background-color: rgba(128,128,128,0.2) !important;
  backdrop-filter: blur(20px);
  background-clip: border-box;
  border: 1px solid var(--toolbar-field-border-color);
  border-radius: var(--toolbarbutton-border-radius);
}

hbox#urlbar box {
   opacity: 0;
   transition: opacity 0.3s ease-in-out;
}

hbox#urlbar:hover box {
   opacity: 1;
   transition: opacity 0.3s ease-in-out;
}

hbox#urlbar hbox#page-action-buttons {
   opacity: 0;
   transition: opacity 0.3s ease-in-out;   
}

hbox#urlbar:hover hbox#page-action-buttons {
   opacity: 1;
   transition: opacity 0.3s ease-in-out;   
}


#urlbar[breakout][breakout-extend] {
   background-color: white !important;   
}

#nav-bar:is([downloadsbuttonshown], [unifiedextensionsbuttonshown]) #urlbar-container {
/*    max-width: 500px; */
}

/* browser corner-radius */
vbox#appcontent {
/*    display: none; */
   border-radius: 8px !important;
   overflow: hidden !important;
}

html#main-window body hbox#browser vbox#appcontent {
   border-radius: 8px;
   overflow: hidden;
}

:root#main-window {
   background-color: transparent !important;
}

:root:not(:-moz-window-inactive) #navigator-toolbox {
  background-color: transparent !important; 
}

/* make tabs toolbar translucent */
/* FF 121 removed support for -moz-mac-source-list - using menupopup instead */
:root #TabsToolbar,
:root #titlebar,
:root #tabbrowser-tabs {
   -moz-default-appearance: menupopup !important;
   appearance: auto !important;
   background-color: transparent !important;
}
