
/*************************************************************************************************************************************************************************************************************************************************************

"userChrome.css" is a custom CSS file that can be used to specify CSS style rules for Floorp's interface (NOT internal site) using "chrome" privileges.
For instance, if you want to hide the tab bar, you can use the following CSS rule:

**************************************
#TabsToolbar {                       *
    display: none !important;        *
}                                    *
**************************************

NOTE: You can use the userChrome.css file without change preferences (about:config)

Quote: https://userChrome.org | https://github.com/topics/userchrome 

************************************************************************************************************************************************************************************************************************************************************/

@charset "UTF-8";
@-moz-document url(chrome://browser/content/browser.xhtml) {
/* Please write your custom CSS under this line*/


}

@import "userContent.css";


.browser-toolbar:not(.titlebar-color) {
  background-color: transparent !important;
  color: var(--toolbar-color);
  -moz-appearance: -moz-mac-vibrancy-dark !important;
  
}

#titlebar {
   -moz-default-appearance: menupopup !important;
   appearance: auto !important;
   background-color: transparent !important;
}

#navigator-toolbox {
  appearance: none;
  background-color: transparent;
  border-top: none;
   -moz-default-appearance: menupopup !important;
   appearance: auto !important;
   background-color: transparent !important;
}

:root {
  background-color: transparent !important;;
  color: -moz-DialogText;
  font: message-box;
   -moz-default-appearance: menupopup !important;
   appearance: auto !important;
   background-color: transparent !important;
}

#TabsToolbar,
#toolbar-menubar,
#main-menubar,
#titlebar:-moz-lwtheme {
  appearance: none;
  background-color: transparent;
  color: inherit;
   -moz-default-appearance: menupopup !important;
   appearance: auto !important;
   background-color: transparent !important;
}

#browser {
  background: transparent !important;
   -moz-default-appearance: menupopup !important;
   appearance: auto !important;
   background-color: transparent !important;
}

.browser-sidebar2 {
  background: transparent !important;
  border: var(--toolbar-bgcolor) 0.1px solid;
  border-bottom: solid 5px var(--toolbar-bgcolor);
   -moz-default-appearance: menupopup !important;
   appearance: auto !important;
   background-color: transparent !important;
}

#sidebar-select-box {
  background-color: transparent !important;;
  background-image: none !important;;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-size: cover;
   -moz-default-appearance: menupopup !important;
   appearance: auto !important;
   background-color: transparent !important;
}

.sidebar-splitter {
  appearance: none;
  width: 6px;
  background-color: transparent !important;;
  border: 1px ThreeDShadow;
  border-style: none solid;
   -moz-default-appearance: menupopup !important;
   appearance: auto !important;
   background-color: transparent !important;
}

#tabbrowser-tabbox[flex], #tabbrowser-tabpanels, browser[type="content-primary"], browser[type="content"] > html{
  background: none !important;
  background-color: transparent !important;
   -moz-default-appearance: menupopup !important;
   appearance: auto !important;
   background-color: transparent !important;
}

#sidebar-box {
  --sidebar-background-color: Field;
  --sidebar-text-color: FieldText;
  background-color: transparent !important;
  color: var(--sidebar-text-color);
  text-shadow: none;
   -moz-default-appearance: menupopup !important;
   appearance: auto !important;
   background-color: transparent !important;
}

/* address bar and drop down  */
#urlbar-background,
#searchbar {
  background-color: rgba(128,128,128,0.2) !important;
  backdrop-filter: blur(20px);
  background-clip: border-box;
  border: 1px solid var(--toolbar-field-border-color);
  border-radius: var(--toolbarbutton-border-radius);
}

hbox#urlbar box {
   opacity: 0;
   transition: opacity 0.3s ease-in-out;
}

hbox#urlbar:hover box {
   opacity: 1;
   transition: opacity 0.3s ease-in-out;
}

hbox#urlbar hbox#page-action-buttons {
   opacity: 0;
   transition: opacity 0.3s ease-in-out;   
}

hbox#urlbar:hover hbox#page-action-buttons {
   opacity: 1;
   transition: opacity 0.3s ease-in-out;   
}


#urlbar[breakout][breakout-extend] {
/*    background-color: white !important;   
   opacity: 1 !important; */
}

#nav-bar:is([downloadsbuttonshown], [unifiedextensionsbuttonshown]) #urlbar-container {
/*    max-width: 500px; */
}

/* browser corner-radius */
/* vbox#appcontent {
   border-radius: 8px !important;
   overflow: hidden !important;
}

html#main-window body hbox#browser vbox#appcontent {
   border-radius: 8px;
   overflow: hidden;
} */

:root#main-window {
   background-color: transparent !important;
}

:root:not(:-moz-window-inactive) #navigator-toolbox {
  background-color: transparent !important; 
}


/* floorp corner radius option */
.browserStack > * {
    border: 0px solid var(--chrome-content-separator-color) !important;
    border-radius: 8px !important;
}

#appcontent[flex] {
   background: transparent !important;
   -moz-default-appearance: menupopup !important;
   appearance: auto !important;
   background-color: transparent !important;     
}

vbox.browserContainer {
   border-color: transparent !important;
   border-bottom-width: 8px !important;
/*    border-top-width: 8px !important; */
   margin-top: 8px;
}

#tabbrowser-tabbox, 
#tabbrowser-tabpanels, 
hbox.browserSidebarContainer, 
vbox.browserContainer,
stack.browserStack,
browser {
   background: transparent !important;
   background-color: transparent !important;      
}

/* selected tab */

  #TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon,
  .tab-background:is([selected], [multiselected]) {
    background-color: rgba(128,128,128,0.5) !important;

  }

/* hidden addressbar */
/* #navigator-toolbox-background {
   position: absolute;
} */

/* #navigator-toolbox {
   position: absolute;
} */

#TabsToolbar {
   margin-top: 30px;
}

/* #tabbrowser-tabbox, 
#tabbrowser-tabpanels, 
hbox.browserSidebarContainer, 
stack.browserStack,
browser {
   background: transparent !important;
   -moz-default-appearance: menupopup !important;
   appearance: auto !important;
   background-color: transparent !important;      
} */


/* ######## arc style ######### */

#navigator-toolbox-background {
   width: 100vw;
   top: 0;
   left: 0;
   position: fixed;
   z-index: 999;
}

#sidebar-select-box {
   margin-top: 32px;
}

/* floating search bar */
#urlbar-container {
   position: absolute !important;
   width: 100vw !important;
   top: -32px !important;
   left: 0 !important;    
}

#urlbar[breakout][breakout-extend] {

   background-color: rgba(255,255,255,.5) !important;   
   max-width: 50%;
   position: absolute;
   margin-top: 25%;
   margin-left: 25%;
   backdrop-filter: blur(20px);
   border-radius: 16px;
}

/* .urlbarView {
   background-color: rgba(255,255,255,.5) !important; 
   position: absolute;
   top: 320px;
} */

/* make tabs toolbar translucent */
/* FF 121 removed support for -moz-mac-source-list - using menupopup instead */
:root #TabsToolbar,
:root #titlebar,
:root #tabbrowser-tabs {
   -moz-default-appearance: menupopup !important;
   appearance: auto !important;
   background-color: transparent !important;
}


/* tabs */
/* Target element by tag name and attribute */
tab[pinned="true"] {
   position: sticky;
   z-index: 100;
   border-radius: 8px !important;
   background-color: rgba(255,255,255,1) !important;
   backdrop-filter: blur(20px);
}


/* Apply margin based on counter value */
arrowscrollbox > tab[pinned="true"]:nth-child(1) {
   top: 0px;
}

arrowscrollbox > tab[pinned="true"]:nth-child(2) {
   top: 40px;
}

arrowscrollbox > tab[pinned="true"]:nth-child(3) {
   top: 80px;
}

arrowscrollbox > tab[pinned="true"]:nth-child(4) {
   top: 120px;
}

arrowscrollbox > tab[pinned="true"]:nth-child(5) {
   top: 160px;
}

arrowscrollbox > tab[pinned="true"]:nth-child(6) {
   top: 200px;
}

arrowscrollbox > tab[pinned="true"]:nth-child(7) {
   top: 240px;
}

arrowscrollbox > tab[pinned="true"]:nth-child(8) {
   top: 280px;
}

arrowscrollbox > tab[pinned="true"]:nth-child(10) {
   top: 320px;
}


#navigator-toolbox-background {
  grid-area: addressbar;
}
#browser {
  grid-area: main;

html#main-window body {
  display: grid !important;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "addressbar main main main"
    "main main main main";
}
